@import 'lbd/variables';
@import 'lbd/mixins';

@mixin input-coloured-bg($color1, $color2, $color3, $color4, $color5, $color6) {
  @include form-control-placeholder(darken($color2, 8%), 1);

  .form-control {
    border-color: $color1;
    color: $color2;

    &:focus {
      border-color: $color3;
      background-color: $color4;
      color: $color3;
    }
  }

  .has-success,
  .has-danger {
    &:after {
      color: $color3;
    }
  }

  .has-danger {
    .form-control {
      background-color: $color4;
    }
  }

  .input-group-prepend .input-group-text,
  .input-group-append .input-group-text {
    background-color: $color4;
    border-color: $color1;
    color: $color2;
  }

  .input-group-focus {
    .input-group-prepend .input-group-text,
    .input-group-append .input-group-text {
      background-color: $color4;
      border-color: $color3;
      color: $color3;
    }
  }

  .form-group.no-border,
  .input-group.no-border {
    .form-control {
      background-color: $color5;
      color: $color2;

      &:focus,
      &:active,
      &:active {
        background-color: $color6;
        color: $color3;
      }
    }

    .form-control + .input-group-prepend .input-group-text,
    .form-control + .input-group-append .input-group-text {
      background-color: $color5;

      &:focus,
      &:active,
      &:active {
        background-color: $color6;
        color: $color3;
      }
    }

    .form-control {
      &:focus {
        & + .input-group-prepend .input-group-text,
        & + .input-group-append .input-group-text {
          background-color: $color6;
          color: $color3;
        }
      }
    }

    .input-group-prepend .input-group-text,
    .input-group-append .input-group-text {
      background-color: $color5;
      border: none;
      color: $color2;
    }

    &.input-group-focus {
      .input-group-prepend .input-group-text,
      .input-group-append .input-group-text {
        background-color: $color6;
        color: $color3;
      }
    }
  }
}

@mixin form-control-placeholder($color, $opacity) {
  .form-control::-moz-placeholder {
    color: $color;
    @include opacity(1);
  }
  .form-control:-moz-placeholder {
    color: $color;
    @include opacity(1);
  }
  .form-control::-webkit-input-placeholder {
    color: $color;
    @include opacity(1);
  }
  .form-control:-ms-input-placeholder {
    color: $color;
    @include opacity(1);
  }
}

$opacity-1: rgba(255, 255, 255, 0.1) !default;
$opacity-2: rgba(255, 255, 255, 0.2) !default;
$opacity-5: rgba(255, 255, 255, 0.5) !default;
$opacity-8: rgba(255, 255, 255, 0.8) !default;

.clear-filter {
  &:after,
  &:before {
    display: none;
  }
}
.bg-panel {
  background-color: rgba($black-color, 0.8);
}
.login-view,
.register-view,
.privacy-policy,
.terms-of-use {
  .page-header:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
  }
  .logo-container {
    width: 180px;
    margin: 0 auto;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }
  .card-login {
    border-radius: $border-radius-large;
    padding-bottom: $padding-base-horizontal;
    max-width: 320px;
    .btn-wd {
      min-width: 180px;
    }
    &.card-plain {
      @include input-coloured-bg($opacity-5, $white-color, $white-color, $transparent-bg, $opacity-1, $opacity-2);
      .input-group-text,
      .form-group.no-border .input-group-text,
      .input-group.no-border .input-group-text {
        color: $opacity-8;
      }
    }
  }
  .link {
    font-size: 1rem;
    color: $white-color;
    text-decoration: none;
  }
}

.page-header {
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  color: $white-color;
  position: relative;

  .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    padding: 0 15px;
    width: 100%;
    max-width: 880px;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .container {
    height: 100%;
    z-index: 1;
  }

  .category,
  .description {
    color: $opacity-8;
  }

  &.page-header-small {
    min-height: 60vh;
    max-height: 440px;
  }

  &.page-header-mini {
    min-height: 40vh;
    max-height: 340px;
  }

  .title {
    margin-bottom: 15px;
  }
  .title + h4 {
    margin-top: 10px;
  }

  &:after,
  &:before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: '';
  }

  &:before {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
