@import 'node_modules/bootstrap/scss/bootstrap';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.iframe-container {
  padding-top: 56.25%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.bg-linear-gradient {
  @include bg-linear-gradient(127deg, $success, darken($warning, 15%));
  color: white !important;
}

.text-linear-gradient {
  @include text-linear-gradient(127deg, $success, darken($warning, 15%));
}

.activate-indigishare-today-button > span.text-linear-gradient:hover {
  @include text-linear-gradient(127deg, white, white);
}
