.showcase {
  .showcase-text {
    padding: 3rem !important;
  }
  .showcase-img {
    min-height: 30rem;
    background-size: cover;
    opacity: 0.85;
  }
  @media (min-width: 768px) {
    .showcase-text {
      padding: 7rem !important;
    }
  }
}
