rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if (request.auth == null || request.auth != null);
      allow write: if request.resource == null || 
        (request.resource.size < 2 * 1024 * 1024 && (request.auth == null || request.auth != null));
    }
  }
}
